<nav class="nav">
    <div class="wrapper">

        <div class="nav__logo">
            <img
                class="nav__logo-img"
                src="/assets/img/logo.svg"
                alt="Логотип"
            />
            <a href="{{base}}index.html" class="nav__logo-link">Мандрівник</a>
        </div>

        <ul class="nav__menu" id="navMenu">
            <li class="nav__menu-item">
                <a
                    href="{{base}}index.html#how-we-work"
                    class="nav__menu-link"
                >Як ми працюємо</a>
            </li>
            <li class="nav__menu-item">
                <a
                    href="{{base}}index.html#plan"
                    class="nav__menu-link"
                >Заплануй поїздку</a>
            </li>
            <li class="nav__menu-item">
                <a
                    href="{{base}}index.html#destinations"
                    class="nav__menu-link"
                >Місця мандрів</a>
            </li>
            <li class="nav__menu-item">
                <a
                    href="{{base}}index.html#stories"
                    class="nav__menu-link"
                >Історії</a>
            </li>
            <li class="nav__menu-item">
                <a href="{{base}}pages/faq.html" class="nav__menu-link">FAQ</a>
            </li>
            <li class="nav__menu-item nav__menu-item--login">
                <a href="#" class="nav__menu-link js-open-login">Вхід</a>
            </li>
        </ul>

        <button class="nav__button btn js-open-login">Вхід</button>

        <button
            class="nav__burger"
            id="navBurger"
            aria-label="Відкрити меню"
            aria-expanded="false"
            aria-controls="navMenu"
        >
            <span></span><span></span><span></span>
        </button>

    </div>
</nav>